* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #111, #222);
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 40px;
}

h2 {
  margin-bottom: 30px;
}

.gallery-container {
  max-width: 800px;
  margin: auto;
}

.main-image {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Miniaturas */
.thumbnails {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.thumbnails img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.thumbnails img:hover {
  opacity: 1;
  transform: scale(1.1);
  outline: 3px solid #782a3d;
}

/* Responsive */
@media (max-width: 768px) {
  .main-image {
    height: 250px;
  }

  .thumbnails img {
    width: 70px;
    height: 50px;
  }
}
